<div class="container mt-15">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Bem-vindo ao IASPB</h1>
        <p class="text-center">O IASPB é um instituto sem fins lucrativos que trabalha para promover a solidariedade e o voluntariado.</p>
        <p class="text-center">Nossa missão é conectar pessoas que querem ajudar com pessoas que precisam de ajuda.</p>
        <div class="d-flex justify-content-center my-2">
          <a routerLink="/list-users" class="btn btn-secondary btn-lg">Gerenciar Usuários</a>
          <a routerLink="/list-volunteer" class="btn btn-dark btn-lg">Gerenciar Voluntários</a>
        </div>
      </div>
    </div>
  </div>
  